@page "/"
@model TannerClient.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Game State: @Model.Status.GameState</h2>
@if (@Model.Status.GameState == Risk.Shared.GameState.Joining)
{
    <form method="post" asp-page-handler="StartGame">
        <button type="submit">Start Game</button>
    </form>
    <form method="post" action="http://localhost:5025/index?pagehandler=StartGame">
        <button type="submit">Start Game</button>
    </form>

}

<table>
    <tr>
        <th>Location</th>
        <th>Armies</th>
        <th>Player Name</th>
        <th>Score</th>
    </tr>
    @foreach (var territory in Model.Status.Board)
    {
        <tr>
            <td>@territory.Location</td>
            <td>@territory.Armies</td>
            <td>@territory.OwnerName</td>
            <td></td> @{/*Need to add score calculation here (Can't remember how the score is calculated*/ }
        </tr>
    }
</table>
