@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.Logging;
@using Microsoft.Extensions.Configuration
@inject ILoggerProvider LoggerProvider
@inject IConfiguration config

<div>
    @if(playerLogic == null)
    {
        <span>Input:</span><input type="text" @bind="userInput" /><br />
        <button @onclick="SignupAsync">Signup</button>
    }
    else
    {
        <h3>Joined game as @playerLogic.MyPlayerName</h3>
    }
    <br />
    <input type="text" @bind="secretCode" />
    <button @onclick="StartGameAsync">Start Game</button>
</div>



@if (Status != null)
{
    <div class="playerStats">
        <h5>@Status.GameState</h5>
        <table cellpadding="2px, 10px">
            <thead>
                <tr>
                    <th>Player Name</th>
                    <th>Territories</th>
                    <th>Armies</th>
                    <th>Score</th>
                </tr>
            </thead>
            @foreach (var p in Status.PlayerStats.OrderByDescending(p => p.Score))
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Territories</td>
                    <td>@p.Armies</td>
                    <td>@p.Score</td>
                </tr>
            }
        </table>
    </div>

    <div class="grid-container">
        <table border="1px" cellpadding="10px">
            @for (var row = 0; row <= MaxRow; row++)
            {
                <tr>
                    @for (var col = 0; col <= MaxCol; col++)
                    {
                        var cell = Status.Board.First(t => t.Location == new Location(row, col));
                        var style = (MarkupString)(string.IsNullOrEmpty(cell.OwnerName)
                            ? string.Empty
                            : $"background-color:{ColorGenerator.GetColor(cell.OwnerName)}");

                        <td class="cell" style="@style">
                            <div class="location">@cell.Location</div>
                            <div class="armies">@cell.Armies</div>
                            <div class="name">@cell.OwnerName</div>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
}

<h5>List of Messages</h5>
<ul>
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>






@code{
    private HubConnection hubConnection;
    private List<string> messages = new List<string>();
    private string userInput;
    private string messageInput;
    private string logMessages;
    private string secretCode = "banana55";
    private GameStatus Status;
    private PlayerLogic playerLogic;
    private int MaxRow = 0;
    private int MaxCol = 0;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
        .WithUrl("http://localhost:5000/riskhub")
        .ConfigureLogging(logBuilder =>
        {
            //logBuilder.AddSimpleConsole();
            logBuilder.AddDebug();
        })
        .Build();
        hubConnection.On<string, string>(MessageTypes.SendMessage, (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });
        hubConnection.On<IEnumerable<BoardTerritory>>(MessageTypes.YourTurnToDeploy, async (board) =>
        {
            var deployLocation = playerLogic.WhereDoYouWantToDeploy(board);
            await DeployAsync(deployLocation);
        });
        hubConnection.On<GameStatus>(MessageTypes.SendStatus, status =>
        {
            Status = status;
            if (MaxRow == 0)
            {
                MaxRow = status.Board.Max(t => t.Location.Row);
                MaxCol = status.Board.Max(t => t.Location.Column);
            }
            StateHasChanged();
        });
        hubConnection.On<IEnumerable<BoardTerritory>>(MessageTypes.YourTurnToAttack, async (board) =>
        {
            try
            {
                (var from, var to) = playerLogic.WhereDoYouWantToAttack(board);
                await AttackAsync(from, to);
            }
            catch
            {
                await AttackCompleteAsync();
            }

        });
        hubConnection.On<string>(MessageTypes.JoinConfirmation, validatedName => {

            playerLogic = new PlayerLogic(validatedName);
            StateHasChanged();
        });

        await hubConnection.StartAsync();
        logMessages += "My connection id is " + hubConnection.ConnectionId;
        if(config["PlayerName"] != null)
        {
            userInput = config["PlayerName"];
            await SignupAsync();
        }

    }


    async Task SendAsync() => await hubConnection.SendAsync(MessageTypes.SendMessage, userInput, messageInput);
    async Task SignupAsync()
    {
        await hubConnection.SendAsync(MessageTypes.Signup, userInput);
    }
    async Task GameStatusAsync() => await hubConnection.SendAsync(MessageTypes.GetStatus);
    async Task StartGameAsync() => await hubConnection.SendAsync(MessageTypes.StartGame, secretCode);
    async Task DeployAsync(Location desiredLocation) => await hubConnection.SendAsync(MessageTypes.DeployRequest, desiredLocation);
    async Task AttackAsync(Location from, Location to) => await hubConnection.SendAsync(MessageTypes.AttackRequest, from, to);
    async Task AttackCompleteAsync() => await hubConnection.SendAsync(MessageTypes.AttackComplete);



}
